/**
 * Base Rules
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap");
html, body {
  height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 50px; }

.text-xlarge {
  font-size: 26px; }

.text-large {
  font-size: 22px; }

.text-medium {
  font-size: 18px; }

.border-bottom {
  border-bottom: 1px solid rgba(116, 122, 138, 0.4); }

.link {
  color: #914EF9;
  text-decoration: underline; }
  .link:hover {
    text-decoration: none; }

* {
  outline: none; }

/* General Class */
a {
  color: #232323; }
  a:hover {
    color: #914EF9;
    text-decoration: none; }
  a:focus {
    color: #914EF9;
    text-decoration: none; }

label {
  font-weight: normal;
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.color-white {
  color: #ffffff !important; }

.color-accent {
  color: #914EF9 !important; }

.bg-accent {
  background-color: #914EF9 !important; }

.color-blue {
  color: #26DA38 !important; }

.color-black {
  color: #000000 !important; }

.color-red {
  color: #F94E4E !important; }

.color-yellow {
  color: #D1B20C !important; }

.bg-blue {
  background-color: #26DA38 !important; }

.color-orange {
  color: #F79043 !important; }

.bg-orange {
  background-color: #F79043 !important; }

.bg-white {
  background-color: #ffffff !important; }

.color-gray {
  color: #818995 !important; }

/* Transition General */
a,
.menu-user .sub-menu {
  transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -khtml-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s; }

/* Button general */
.dgt-button {
  padding: 0 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ffffff;
  background-color: #914EF9;
  text-align: center;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -khtml-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  font-size: 20px;
  margin: 0;
  position: relative;
  outline: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  text-transform: uppercase;
  outline: none; }
  .dgt-button i {
    margin-right: 8px;
    font-size: 20px; }
  .dgt-button:hover, .dgt-button:focus {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.button-white {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  height: 40px;
  font-size: 16px; }

.button-light {
  border: 1px solid #914EF9;
  background-color: #F7F7F7;
  font-size: 24px;
  color: #914EF9;
  border-radius: 32px; }
  .button-light:hover {
    color: #914EF9; }
  .button-light:focus {
    color: #914EF9; }
  .button-light:after {
    border: 1px solid #914EF9;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    content: "";
    position: absolute;
    border-radius: 32px; }
  .button-light i {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -khtml-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    margin: 0; }

.button-gray {
  background: #e5e5e5;
  background: -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(rgba(242, 242, 242, 0.98)));
  background: -webkit-linear-gradient(bottom, #e5e5e5 0%, rgba(242, 242, 242, 0.98) 100%);
  background: -o-linear-gradient(bottom, #e5e5e5 0%, rgba(242, 242, 242, 0.98) 100%);
  background: linear-gradient(0deg, #e5e5e5 0%, rgba(242, 242, 242, 0.98) 100%);
  border: 1px solid #747A8A;
  color: #000000;
  font-size: 18px;
  text-transform: none; }
  .button-gray:hover, .button-gray:focus {
    color: #000; }

.button-alt {
  border: 1px solid #C3C5CC;
  background-color: #FFFFFF;
  color: #000; }
  .button-alt:hover, .button-alt:focus {
    color: #000; }

.button-large {
  min-width: 260px; }

.button-small {
  text-transform: none;
  font-size: 16px;
  height: 32px;
  padding: 0 24px; }

.button-arrow {
  min-width: 224px;
  font-size: 32px;
  color: #fff;
  height: 68px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3); }
  .button-arrow:after {
    content: "";
    background: url("../../images/deco.png") no-repeat center center;
    display: block;
    height: 12px;
    margin: 2px 0 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px; }

/* Title */
.dgt-title {
  font-size: 34px;
  line-height: 42px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center; }

/* Content */
#content {
  padding: 45px 0;
  position: relative; }
  #content:after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    visibility: hidden; }

/* Modal */
.modal-backdrop.show {
  display: none; }

.modal-open #content {
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -khtml-filter: blur(12px);
  -moz-filter: blur(12px);
  -ms-filter: blur(12px);
  -o-filter: blur(12px); }
  .modal-open #content:after {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    visibility: visible; }

[data-toggle="modal"] {
  cursor: pointer; }

[data-dismiss="modal"] {
  position: absolute;
  right: -4px;
  font-size: 24px;
  top: -12px;
  cursor: pointer;
  z-index: 1; }

.modal-content {
  background-color: #F7F7F7;
  border-color: #914EF9;
  border-radius: 4px; }

.modal-title {
  font-size: 24px;
  font-weight: bold;
  padding: 0 25px 12px;
  border-bottom: 1px solid #914EF9;
  text-align: center;
  text-transform: uppercase; }

.modal-video .modal-content {
  border: none;
  background-color: transparent; }

.modal-video .modal-body {
  padding: 0; }

.modal-video iframe {
  max-width: 100%;
  max-height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #07171E;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal; }

/* hide up/down arrows ("spinners") on input fields marked type=number */
.no-spinners[type='number'] {
  -moz-appearance: textfield; }

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.alt-box {
  margin-left: calc((100vw - 15px) / (-2));
  margin-right: calc((100vw - 15px) / (-2));
  padding-left: calc((100vw - 15px) / (2));
  padding-right: calc((100vw - 15px) / (2)); }

.bg-gradient {
  background-color: #6e72fc;
  background-image: -webkit-linear-gradient(135deg, #6e72fc 0%, #ad1deb 74%);
  background-image: -o-linear-gradient(135deg, #6e72fc 0%, #ad1deb 74%);
  background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%); }

.form-group {
  margin-bottom: 22px; }
  .form-group button {
    height: 56px;
    width: 100%;
    font-size: 22px;
    background-color: #4585c5;
    border-color: #4585c5; }
  .form-group label {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px 0; }
  .form-group .form-addon {
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.form-control {
  height: 50px;
  background-color: #F7F7F7;
  border-radius: 4px;
  font-size: 18px;
  padding: 0 20px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(116, 122, 138, 0.4); }
  .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(116, 122, 138, 0.4); }
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.3); }
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.3); }
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.3); }
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.3); }

textarea.form-control {
  height: 216px;
  resize: none;
  padding: 13px 10px; }

.checkbox, .radio {
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */ }
  .checkbox [type="checkbox"]:not(:checked),
  .checkbox [type="checkbox"]:checked,
  .checkbox [type="radio"]:not(:checked),
  .checkbox [type="radio"]:checked, .radio [type="checkbox"]:not(:checked),
  .radio [type="checkbox"]:checked,
  .radio [type="radio"]:not(:checked),
  .radio [type="radio"]:checked {
    position: absolute;
    left: -9999px; }
  .checkbox [type="checkbox"]:not(:checked) + label,
  .checkbox [type="checkbox"]:checked + label,
  .checkbox [type="radio"]:not(:checked) + label,
  .checkbox [type="radio"]:checked + label, .radio [type="checkbox"]:not(:checked) + label,
  .radio [type="checkbox"]:checked + label,
  .radio [type="radio"]:not(:checked) + label,
  .radio [type="radio"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer; }
  .checkbox [type="checkbox"]:not(:checked) + label:before,
  .checkbox [type="checkbox"]:checked + label:before,
  .checkbox [type="radio"]:not(:checked) + label:before,
  .checkbox [type="radio"]:checked + label:before, .radio [type="checkbox"]:not(:checked) + label:before,
  .radio [type="checkbox"]:checked + label:before,
  .radio [type="radio"]:not(:checked) + label:before,
  .radio [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 1px solid rgba(116, 122, 138, 0.4);
    background: #F7F7F7;
    border-radius: 4px; }
  .checkbox [type="checkbox"]:not(:checked) + label:after,
  .checkbox [type="checkbox"]:checked + label:after,
  .checkbox [type="radio"]:not(:checked) + label:after,
  .checkbox [type="radio"]:checked + label:after, .radio [type="checkbox"]:not(:checked) + label:after,
  .radio [type="checkbox"]:checked + label:after,
  .radio [type="radio"]:not(:checked) + label:after,
  .radio [type="radio"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 16px;
    line-height: 0.8;
    color: #914EF9;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .checkbox [type="checkbox"]:not(:checked) + label:after,
  .checkbox [type="radio"]:not(:checked) + label:after, .radio [type="checkbox"]:not(:checked) + label:after,
  .radio [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .checkbox [type="checkbox"]:checked + label:after,
  .checkbox [type="radio"]:checked + label:after, .radio [type="checkbox"]:checked + label:after,
  .radio [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .checkbox [type="checkbox"]:disabled:not(:checked) + label:before,
  .checkbox [type="checkbox"]:disabled:checked + label:before,
  .checkbox [type="radio"]:disabled:not(:checked) + label:before,
  .checkbox [type="radio"]:disabled:checked + label:before, .radio [type="checkbox"]:disabled:not(:checked) + label:before,
  .radio [type="checkbox"]:disabled:checked + label:before,
  .radio [type="radio"]:disabled:not(:checked) + label:before,
  .radio [type="radio"]:disabled:checked + label:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd; }
  .checkbox [type="checkbox"]:disabled:checked + label:after,
  .checkbox [type="radio"]:disabled:checked + label:after, .radio [type="checkbox"]:disabled:checked + label:after,
  .radio [type="radio"]:disabled:checked + label:after {
    color: #999; }
  .checkbox [type="checkbox"]:disabled + label,
  .checkbox [type="radio"]:disabled + label, .radio [type="checkbox"]:disabled + label,
  .radio [type="radio"]:disabled + label {
    color: #aaa; }

.radio [type="radio"]:not(:checked) + label:before,
.radio [type="radio"]:checked + label:before {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(116, 122, 138, 0.4);
  background: #FFFFFF;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }

.radio [type="radio"]:not(:checked) + label:after,
.radio [type="radio"]:checked + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #914ef9;
  background: -webkit-gradient(linear, left bottom, left top, from(#914ef9), to(#e6d6ff));
  background: -webkit-linear-gradient(bottom, #914ef9 0%, #e6d6ff 100%);
  background: -o-linear-gradient(bottom, #914ef9 0%, #e6d6ff 100%);
  background: linear-gradient(0deg, #914ef9 0%, #e6d6ff 100%);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }

#header {
  min-height: 130px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  text-align: center; }

.header-right {
  right: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-right .nav-link {
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.coupon-info {
  background-color: #F0E6FF;
  border: 2px solid #914EF9;
  border-radius: 4px;
  padding: 0 16px 2px 10px;
  margin-left: 7px; }
  .coupon-info .icon {
    margin-right: 8px; }
  .coupon-info .coupon {
    color: #914EF9;
    font-weight: bold;
    font-size: 12px;
    line-height: normal; }
    .coupon-info .coupon .coupon-code {
      font-size: 16px; }

.dropdown-toggle:after {
  border-top: 0.5em solid;
  border-right: .5em solid transparent;
  border-left: .5em solid transparent;
  border-radius: 10px; }

/* Logo */
#logo {
  margin: 20px 0 16px; }
  #logo img {
    max-width: 170px; }
  #logo.logo-small img {
    max-width: 80px; }

/* Nav */
#nav {
  margin: -30px 0;
  position: relative;
  z-index: 1; }

.nav-inner {
  border-radius: 4px;
  background-color: #6e72fc;
  background-image: -webkit-linear-gradient(135deg, #6e72fc 0%, #ad1deb 74%);
  background-image: -o-linear-gradient(135deg, #6e72fc 0%, #ad1deb 74%);
  background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  min-height: 60px; }
  .nav-inner h1 {
    font-size: 24px;
    text-align: center;
    margin: 0; }
  .nav-inner .price {
    position: absolute;
    left: 25px;
    top: 10px; }
    .nav-inner .price label {
      margin-right: 10px; }
    .nav-inner .price span {
      height: 40px;
      min-width: 105px;
      font-size: 24px; }

.menu-user {
  position: absolute;
  right: 24px;
  top: 10px;
  text-transform: capitalize; }
  .menu-user .sub-menu {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    width: 150px;
    position: absolute;
    top: 150%;
    right: 0;
    padding: 10px;
    z-index: 1;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    visibility: hidden; }
    .menu-user .sub-menu a {
      padding: 5px;
      font-size: 16px;
      display: block; }
      .menu-user .sub-menu a i {
        margin-right: 8px; }
  .menu-user .dgt-button i {
    margin-right: 4px;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    line-height: 1.3;
    border-radius: 50%;
    overflow: hidden; }
  .menu-user:hover .sub-menu {
    top: 100%;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    visibility: visible; }

/* General */
.dgt-form-button {
  margin: 32px 25px 0; }

/* Banner */
.banner {
  background: url("../../images/img-banner.jpg") no-repeat 0 0;
  background-size: cover;
  text-align: center;
  padding: 60px 0 30px;
  color: #fff; }
  .banner h4 {
    font-size: 18px;
    margin-bottom: 18px; }
  .banner h3 {
    font-size: 28px;
    margin: 15px 0 0; }
  .banner iframe {
    max-width: 100%;
    max-height: 300px; }

/* Section User */
.section-user {
  padding: 34px 0 0; }
  .section-user .title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .section-user .dgt-button {
    width: 360px;
    margin-top: 25px; }

.login a {
  margin: 48px 0;
  display: block; }

/* Coupon */
.section-dashboard {
  margin: 40px 0 0; }

.coupon-code {
  text-align: center; }
  .coupon-code label {
    font-size: 16px;
    font-weight: bold; }
  .coupon-code .form-control {
    display: inline-block;
    width: 360px;
    text-align: center;
    border-color: #914EF9; }

.payment-wrap {
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 35px; }

.payment {
  background-color: #F7F7F7;
  border: 1px solid rgba(116, 122, 138, 0.4);
  border-radius: 5px;
  padding: 30px 0; }
  .payment .title {
    font-size: 18px;
    text-transform: uppercase;
    color: #914EF9;
    font-weight: bold;
    margin: 13px 0 17px;
    display: block; }

.form-coupon {
  margin: 36px 0 0; }
  .form-coupon.coupon-addon .form-control {
    padding-right: 60px; }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .price label {
    font-size: 16px;
    margin-right: 18px; }
  .price span {
    min-width: 127px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #914EF9;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    border-radius: 4px; }
    .price span.old {
      background-color: #F7F7F7;
      color: #000;
      border: 1px solid rgba(116, 122, 138, 0.4);
      text-decoration: line-through; }
    .price span.white {
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;
      border: 2px solid #fff; }
  .price.medium {
    font-size: 24px; }
  .price.small {
    font-size: 16px; }

.payment-paypal h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 28px; }

.payment-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0;
  margin-top: 30px;
  margin-bottom: 120px; }
  .payment-button .dgt-button {
    width: 360px;
    height: 64px; }

.payment-complete {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2; }
  .payment-complete h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 6px 0 40px;
    text-transform: uppercase;
    display: block; }

.payment-tutorials h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px; }

/* Wallet */
.section-wallet .btn-group,
.total-income .title {
  border-bottom: 1px solid #914EF9; }

.section-wallet {
  margin-top: 40px; }
  .section-wallet .btn-group {
    width: 100%;
    padding-bottom: 25px; }

.btn-group button {
  margin-right: 24px;
  width: 140px;
  height: 40px; }
  .btn-group button:first-child, .btn-group button:last-child {
    width: 40px; }

.total-income .title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 11px 0 35px;
  margin: 0; }

.view-statement {
  max-height: 500px;
  overflow-y: auto;
  position: relative; }
  .view-statement .item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px; }
    .view-statement .item > * {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 100%; }
  .view-statement .title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 37%;
    flex: 0 0 37%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0; }
  .view-statement .price {
    margin-right: 15px; }
  .view-statement .status {
    text-align: center;
    color: #FF0000; }

.items .item {
  min-height: 62px;
  border-bottom: 1px solid #747A8A; }

.items .total {
  margin: 19px 0 16px; }
  .items .total .item {
    border: none;
    min-height: 42px; }

.statement-button .dgt-button {
  margin: 60px 50px 0; }

.total-info {
  padding-left: 15px;
  font-size: 16px; }

.total-button .dgt-button {
  width: 100%; }

/* withdraw */
.withdraw-content .title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #914EF9;
  display: block;
  margin: 14px 0; }
  .withdraw-content .title span {
    color: #000;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 10px; }

.withdraw-content .value-input {
  border: 1px solid #914EF9;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px; }

.withdraw-content input {
  padding: 0;
  border: none;
  background-color: transparent; }

.withdraw-content .withdraw-note {
  border-bottom: 1px solid rgba(116, 112, 138, 0.4); }

/* Section Profile */
.section-profile {
  margin-top: 30px; }
  .section-profile .nav {
    background-color: #F7F7F7;
    margin-top: 8px; }
  .section-profile .nav-link {
    height: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    border-radius: 0;
    padding: 0 30px; }
    .section-profile .nav-link.active {
      background-color: #E6D6FF;
      font-weight: bold;
      color: #000000; }
  .section-profile .link {
    text-decoration: none; }

.tab-content {
  border-radius: 5px;
  border: 1px solid rgba(116, 122, 138, 0.4);
  min-height: 575px;
  max-height: 575px;
  background-color: #F7F7F7;
  padding: 25px 15px; }

.profile-info > div {
  min-height: 54px;
  padding: 10px 0;
  border-top: 1px solid rgba(116, 122, 138, 0.4); }

.profile-info label {
  min-width: 150px;
  margin-right: 40px; }

.payment-method .acc-name {
  padding: 5px 0 0 1.95em;
  display: block; }

.section-term {
  overflow-y: auto;
  max-height: 520px;
  position: relative; }

.section-map {
  border: 1px solid rgba(116, 122, 138, 0.4); }

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .icon-box .icon i {
    width: 48px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #E6D6FF;
    border-radius: 50%;
    background-color: #ffffff;
    color: #914EF9;
    font-size: 20px;
    margin-right: 16px; }

/**
 * Base Rules
 */
html, body {
  height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 50px; }

.text-xlarge {
  font-size: 26px; }

.text-large {
  font-size: 22px; }

.text-medium {
  font-size: 18px; }

.border-bottom {
  border-bottom: 1px solid rgba(116, 122, 138, 0.4); }

.link {
  color: #914EF9;
  text-decoration: underline; }
  .link:hover {
    text-decoration: none; }

* {
  outline: none; }

/* General Class */
a {
  color: #232323; }
  a:hover {
    color: #914EF9;
    text-decoration: none; }
  a:focus {
    color: #914EF9;
    text-decoration: none; }

label {
  font-weight: normal;
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.color-white {
  color: #ffffff !important; }

.color-accent {
  color: #914EF9 !important; }

.bg-accent {
  background-color: #914EF9 !important; }

.color-blue {
  color: #26DA38 !important; }

.color-black {
  color: #000000 !important; }

.color-red {
  color: #F94E4E !important; }

.color-yellow {
  color: #D1B20C !important; }

.bg-blue {
  background-color: #26DA38 !important; }

.color-orange {
  color: #F79043 !important; }

.bg-orange {
  background-color: #F79043 !important; }

.bg-white {
  background-color: #ffffff !important; }

.color-gray {
  color: #818995 !important; }

/* Transition General */
a,
.menu-user .sub-menu {
  transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -khtml-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s; }

/* Button general */
.dgt-button {
  padding: 0 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ffffff;
  background-color: #914EF9;
  text-align: center;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -khtml-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  font-size: 20px;
  margin: 0;
  position: relative;
  outline: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  text-transform: uppercase;
  outline: none; }
  .dgt-button i {
    margin-right: 8px;
    font-size: 20px; }
  .dgt-button:hover, .dgt-button:focus {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.button-white {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  height: 40px;
  font-size: 16px; }

.button-light {
  border: 1px solid #914EF9;
  background-color: #F7F7F7;
  font-size: 24px;
  color: #914EF9;
  border-radius: 32px; }
  .button-light:hover {
    color: #914EF9; }
  .button-light:focus {
    color: #914EF9; }
  .button-light:after {
    border: 1px solid #914EF9;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    content: "";
    position: absolute;
    border-radius: 32px; }
  .button-light i {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -khtml-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    margin: 0; }

.button-gray {
  background: #e5e5e5;
  background: -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(rgba(242, 242, 242, 0.98)));
  background: -webkit-linear-gradient(bottom, #e5e5e5 0%, rgba(242, 242, 242, 0.98) 100%);
  background: -o-linear-gradient(bottom, #e5e5e5 0%, rgba(242, 242, 242, 0.98) 100%);
  background: linear-gradient(0deg, #e5e5e5 0%, rgba(242, 242, 242, 0.98) 100%);
  border: 1px solid #747A8A;
  color: #000000;
  font-size: 18px;
  text-transform: none; }
  .button-gray:hover, .button-gray:focus {
    color: #000; }

.button-alt {
  border: 1px solid #C3C5CC;
  background-color: #FFFFFF;
  color: #000; }
  .button-alt:hover, .button-alt:focus {
    color: #000; }

.button-large {
  min-width: 260px; }

.button-small {
  text-transform: none;
  font-size: 16px;
  height: 32px;
  padding: 0 24px; }

.button-arrow {
  min-width: 224px;
  font-size: 32px;
  color: #fff;
  height: 68px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3); }
  .button-arrow:after {
    content: "";
    background: url("../../images/deco.png") no-repeat center center;
    display: block;
    height: 12px;
    margin: 2px 0 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px; }

/* Title */
.dgt-title {
  font-size: 34px;
  line-height: 42px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center; }

/* Content */
#content {
  padding: 45px 0;
  position: relative; }
  #content:after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    visibility: hidden; }

/* Modal */
.modal-backdrop.show {
  display: none; }

.modal-open #content {
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -khtml-filter: blur(12px);
  -moz-filter: blur(12px);
  -ms-filter: blur(12px);
  -o-filter: blur(12px); }
  .modal-open #content:after {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    visibility: visible; }

[data-toggle="modal"] {
  cursor: pointer; }

[data-dismiss="modal"] {
  position: absolute;
  right: -4px;
  font-size: 24px;
  top: -12px;
  cursor: pointer;
  z-index: 1; }

.modal-content {
  background-color: #F7F7F7;
  border-color: #914EF9;
  border-radius: 4px; }

.modal-title {
  font-size: 24px;
  font-weight: bold;
  padding: 0 25px 12px;
  border-bottom: 1px solid #914EF9;
  text-align: center;
  text-transform: uppercase; }

.modal-video .modal-content {
  border: none;
  background-color: transparent; }

.modal-video .modal-body {
  padding: 0; }

.modal-video iframe {
  max-width: 100%;
  max-height: 100%; }

.admin-page:not(.modal) {
  background-color: #F2F2F2; }

.admin-page .bg-shadow {
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px; }

.admin-page #header {
  min-height: 83px;
  padding: 0 35px 0 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff; }

.admin-page #logo img {
  max-width: 100px; }

.admin-page .menu-user {
  position: relative;
  right: inherit;
  top: inherit;
  margin-right: 8px; }

.admin-page .dgt-button {
  height: 40px;
  font-size: 16px; }

.admin-page .dropdown-toggle:after {
  vertical-align: 1px; }

.admin-page .sidebar {
  max-width: 17%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 218px;
  flex: 0 0 218px;
  background-color: #914EF9;
  color: #fff;
  min-width: 218px;
  position: relative; }
  .admin-page .sidebar .sidebar-content {
    position: fixed;
    width: 100%;
    max-width: 218px; }

.admin-page #content {
  padding: 0; }

.admin-page .sidebar, .admin-page .content-primary {
  min-height: calc(100vh - 83px);
  margin-top: 83px; }

.admin-page .content-primary {
  -webkit-box-flex: calc(100% - 218px);
  -ms-flex: calc(100% - 218px);
  flex: calc(100% - 218px);
  max-width: calc(100% - 218px); }

.admin-page .admin-statement {
  background-color: #AC76FF;
  padding: 54px 16px 3px; }

.admin-page .statement-item {
  border-bottom: 1px solid #fff;
  padding: 9px 0;
  line-height: 1;
  font-size: 12px; }
  .admin-page .statement-item:last-child {
    border-bottom: none; }
  .admin-page .statement-item strong {
    font-size: 16px; }
  .admin-page .statement-item .total {
    font-size: 22px; }

.admin-page .admin-menu {
  padding: 13px 0 0 32px; }
  .admin-page .admin-menu li {
    border-bottom: 1px solid #fff;
    display: block;
    padding: 10px 0; }
    .admin-page .admin-menu li.active {
      transform: translateX(-13px);
      -webkit-transform: translateX(-13px);
      -khtml-transform: translateX(-13px);
      -moz-transform: translateX(-13px);
      -ms-transform: translateX(-13px);
      -o-transform: translateX(-13px);
      width: calc(100% + 13px);
      font-weight: bold; }
  .admin-page .admin-menu a {
    color: #fff;
    font-size: 16px;
    position: relative; }
    .admin-page .admin-menu a .number {
      font-size: 10px;
      font-weight: bold;
      background-color: #FF0000;
      border: 1px solid #fff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      right: -19px;
      top: -6px; }

.admin-page .content-inner {
  padding: 40px 25px 20px 25px; }

.admin-page .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px; }

.admin-page .static-wrap {
  padding: 32px 68px;
  min-height: 235px; }
  .admin-page .static-wrap .logo {
    width: 128px;
    height: 128px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 128px;
    flex: 0 0 128px;
    border-radius: 50%;
    background-color: #F2F4F8;
    border: 2px solid rgba(116, 117, 138, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px;
    margin-right: 96px; }
    .admin-page .static-wrap .logo img {
      max-width: 100%; }
  .admin-page .static-wrap .avatar {
    padding: 0;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .admin-page .static-wrap .avatar img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center center;
      object-position: center center; }

.admin-page .static-item {
  border-bottom: 1px solid #c9cacf;
  color: #6E6E6E;
  margin: 0 0 18px;
  padding: 0 0 13px; }
  .admin-page .static-item:last-child {
    border-bottom: none;
    margin: 0;
    padding: 0; }
  .admin-page .static-item .number {
    color: #914EF9;
    font-size: 36px; }

.admin-page .static-number {
  font-size: 14px;
  margin-right: 55px;
  min-width: 140px; }
  .admin-page .static-number .number {
    font-size: 30px; }

.admin-page .static-table {
  padding: 0 16px 16px; }
  .admin-page .static-table .static-head {
    height: 52px; }
  .admin-page .static-table .title {
    font-size: 16px;
    margin-bottom: 0; }

.admin-page .form-search {
  margin: 8px 185px 8px 0;
  border: 1px solid #747A8A;
  border-radius: 4px;
  position: relative;
  overflow: hidden; }
  .admin-page .form-search input {
    border: none;
    height: 34px;
    width: 240px; }
  .admin-page .form-search button {
    background-color: transparent;
    border: none;
    padding: 0 12px;
    font-size: 22px;
    color: #999999; }

.admin-page .table {
  border-top: 0;
  width: 100% !important; }
  .admin-page .table .thead-dark th {
    background-color: #D0DBF2;
    border: none; }
  .admin-page .table thead th, .admin-page .table thead td {
    font-weight: bold;
    color: #000; }
  .admin-page .table .table-sort {
    line-height: 1;
    vertical-align: -2px; }
    .admin-page .table .table-sort i {
      font-size: 22px; }
  .admin-page .table td, .admin-page .table th {
    font-size: 14px; }

.admin-page .tab-content {
  padding: 24px 0 0;
  border: none;
  background-color: transparent;
  min-height: inherit;
  max-height: inherit;
  position: relative; }
  .admin-page .tab-content:before {
    width: calc(100% + 32px);
    top: 0;
    left: -16px;
    background-color: #dee2e6;
    content: "";
    position: absolute;
    height: 1px; }

.admin-page .nav-tabs {
  border: none;
  margin: 0 0 0 -16px; }
  .admin-page .nav-tabs .nav-link {
    font-weight: bold;
    height: 52px;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
    border: none;
    font-size: 14px; }
    .admin-page .nav-tabs .nav-link.active {
      background-color: #914EF9;
      color: #fff; }

.admin-page .modal-content {
  background-color: transparent;
  border: none; }

.admin-page .modal-body {
  padding: 0; }

.admin-page .modal-footer {
  border: none;
  margin-top: 8px; }

.admin-page .icon-large {
  color: #75B3E0;
  font-size: 30px;
  line-height: 1; }

.admin-page .form-wrap .dgt-button, .admin-page .modal-footer .dgt-button {
  height: 36px;
  text-transform: capitalize;
  font-weight: bold;
  width: 220px; }

.admin-page .form-head .title {
  font-size: 16px;
  border-bottom: 1px solid #c9cacf;
  line-height: 52px;
  padding-left: 48px; }

.admin-page .form-content {
  padding: 0 68px; }

.admin-page .large-gutters {
  margin-right: -32px;
  margin-left: -32px; }
  .admin-page .large-gutters > .col,
  .admin-page .large-gutters > [class*="col-"] {
    padding-right: 32px;
    padding-left: 32px; }

.admin-page .form-control, .admin-page .input-group-text {
  height: 36px;
  background-color: transparent;
  border-color: #747A8A; }

.admin-page .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 0; }

.admin-page .input-group-text {
  border-right: none;
  background-color: #fff;
  font-size: 20px;
  z-index: 1;
  color: #000;
  padding: 0 14px; }

.admin-page .input-group > .form-control {
  padding-left: 0; }

.admin-page .form-group {
  margin-bottom: 32px; }

.admin-page textarea {
  min-height: 138px;
  resize: none; }

.admin-page .dataTable {
  width: 100% !important; }

.admin-page .dataTables_filter {
  position: absolute;
  right: 100px;
  top: -43px; }
  .admin-page .dataTables_filter input[type="search"] {
    border: 1px solid #dee2e6;
    height: 36px;
    border-radius: 4px;
    padding: 0 10px;
    width: 230px; }

.admin-page .tab-content .dataTables_filter {
  top: -67px; }

.admin-page .dataTables_wrapper {
  position: relative; }
  .admin-page .dataTables_wrapper .dataTables_paginate .paginate_button.current, .admin-page .dataTables_wrapper .dataTables_paginate .paginate_button.current:active {
    color: #000 !important;
    border: 1px solid #979797;
    background: #D0DBF2 !important;
    border-color: #D0DBF2 !important; }
  .admin-page .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-color: #D0DBF2 !important;
    background: #D0DBF2 !important; }
  .admin-page .dataTables_wrapper .dataTables_paginate .paginate_button, .admin-page .dataTables_wrapper .dataTables_paginate .ellipsis {
    color: #000 !important;
    border-right: 1px solid #c8ced3 !important; }

.admin-page div.dataTables_paginate {
  margin-top: -34px; }

.admin-page table.dataTable thead .sorting:before, .admin-page table.dataTable thead .sorting:after, .admin-page table.dataTable thead .sorting_asc:before, .admin-page table.dataTable thead .sorting_asc:after, .admin-page table.dataTable thead .sorting_desc:before, .admin-page table.dataTable thead .sorting_desc:after, .admin-page table.dataTable thead .sorting_asc_disabled:before, .admin-page table.dataTable thead .sorting_asc_disabled:after, .admin-page table.dataTable thead .sorting_desc_disabled:before, .admin-page table.dataTable thead .sorting_desc_disabled:after {
  font-size: 1em; }

.admin-page .note-editor {
  width: 100%; }

.admin-page .note-editor .btn-group button:first-child,
.admin-page .note-editor .btn-group button,
.admin-page .note-editor .btn-group button:last-child {
  width: inherit;
  -webkit-box-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
  height: inherit;
  margin-right: inherit;
  background-color: inherit;
  border-color: inherit;
  font-size: 16px;
  border-radius: 4px !important; }

.admin-page .note-popover .popover-content .note-color .dropdown-toggle, .admin-page .card-header.note-toolbar .note-color .dropdown-toggle {
  width: auto !important; }

.panel-coupon {
  max-width: 195px; }
  .panel-coupon label {
    font-size: 16px;
    color: #6E6E6E;
    font-weight: bold; }
  .panel-coupon input {
    border: 1px solid #747A8A;
    padding: 0 10px;
    text-align: center;
    border-radius: 4px;
    height: 36px; }
  .panel-coupon .dgt-button {
    height: 36px;
    text-transform: capitalize;
    font-weight: bold;
    width: 100%; }

@media screen and (min-width: 1200px) {
  .modal-custom .modal-dialog {
    max-width: 1140px;
    margin: 184px auto 30px; } }

@media screen and (min-width: 1400px) {
  .admin-page .content-inner {
    padding: 50px 35px 30px 45px; }
  .admin-page .static-number {
    font-size: 16px; }
    .admin-page .static-number .number {
      font-size: 36px; }
  .admin-page .statement-item {
    font-size: 16px; }
    .admin-page .statement-item strong {
      font-size: 18px; }
    .admin-page .statement-item .total {
      font-size: 24px; }
  .admin-page .admin-menu a {
    font-size: 18px; }
  .admin-page .sidebar {
    min-width: 280px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 280px;
    flex: 0 0 280px; }
    .admin-page .sidebar .sidebar-content {
      max-width: 280px; }
  .admin-page .content-primary {
    -webkit-box-flex: calc(100% - 280px);
    -ms-flex: calc(100% - 280px);
    flex: calc(100% - 280px);
    max-width: calc(100% - 280px); }
  .admin-page .nav-tabs .nav-link {
    font-size: 16px;
    padding: 0 20px; } }

@media screen and (min-width: 1600px) {
  .admin-page .nav-tabs .nav-link {
    padding: 0 30px; }
  .admin-page .table th, .admin-page .table td {
    font-size: 16px; } }

/**
 * Base Rules
 */
html, body {
  height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 50px; }

.text-xlarge {
  font-size: 26px; }

.text-large {
  font-size: 22px; }

.text-medium {
  font-size: 18px; }

.border-bottom {
  border-bottom: 1px solid rgba(116, 122, 138, 0.4); }

.link {
  color: #914EF9;
  text-decoration: underline; }
  .link:hover {
    text-decoration: none; }

* {
  outline: none; }

/* General Class */
a {
  color: #232323; }
  a:hover {
    color: #914EF9;
    text-decoration: none; }
  a:focus {
    color: #914EF9;
    text-decoration: none; }

label {
  font-weight: normal;
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.color-white {
  color: #ffffff !important; }

.color-accent {
  color: #914EF9 !important; }

.bg-accent {
  background-color: #914EF9 !important; }

.color-blue {
  color: #26DA38 !important; }

.color-black {
  color: #000000 !important; }

.color-red {
  color: #F94E4E !important; }

.color-yellow {
  color: #D1B20C !important; }

.bg-blue {
  background-color: #26DA38 !important; }

.color-orange {
  color: #F79043 !important; }

.bg-orange {
  background-color: #F79043 !important; }

.bg-white {
  background-color: #ffffff !important; }

.color-gray {
  color: #818995 !important; }

/* Transition General */
a,
.menu-user .sub-menu {
  transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -khtml-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s; }

/* Button general */
.dgt-button {
  padding: 0 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ffffff;
  background-color: #914EF9;
  text-align: center;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -khtml-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  font-size: 20px;
  margin: 0;
  position: relative;
  outline: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  text-transform: uppercase;
  outline: none; }
  .dgt-button i {
    margin-right: 8px;
    font-size: 20px; }
  .dgt-button:hover, .dgt-button:focus {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.button-white {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  height: 40px;
  font-size: 16px; }

.button-light {
  border: 1px solid #914EF9;
  background-color: #F7F7F7;
  font-size: 24px;
  color: #914EF9;
  border-radius: 32px; }
  .button-light:hover {
    color: #914EF9; }
  .button-light:focus {
    color: #914EF9; }
  .button-light:after {
    border: 1px solid #914EF9;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    content: "";
    position: absolute;
    border-radius: 32px; }
  .button-light i {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -khtml-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    margin: 0; }

.button-gray {
  background: #e5e5e5;
  background: -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(rgba(242, 242, 242, 0.98)));
  background: -webkit-linear-gradient(bottom, #e5e5e5 0%, rgba(242, 242, 242, 0.98) 100%);
  background: -o-linear-gradient(bottom, #e5e5e5 0%, rgba(242, 242, 242, 0.98) 100%);
  background: linear-gradient(0deg, #e5e5e5 0%, rgba(242, 242, 242, 0.98) 100%);
  border: 1px solid #747A8A;
  color: #000000;
  font-size: 18px;
  text-transform: none; }
  .button-gray:hover, .button-gray:focus {
    color: #000; }

.button-alt {
  border: 1px solid #C3C5CC;
  background-color: #FFFFFF;
  color: #000; }
  .button-alt:hover, .button-alt:focus {
    color: #000; }

.button-large {
  min-width: 260px; }

.button-small {
  text-transform: none;
  font-size: 16px;
  height: 32px;
  padding: 0 24px; }

.button-arrow {
  min-width: 224px;
  font-size: 32px;
  color: #fff;
  height: 68px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3); }
  .button-arrow:after {
    content: "";
    background: url("../../images/deco.png") no-repeat center center;
    display: block;
    height: 12px;
    margin: 2px 0 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px; }

/* Title */
.dgt-title {
  font-size: 34px;
  line-height: 42px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center; }

/* Content */
#content {
  padding: 45px 0;
  position: relative; }
  #content:after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    visibility: hidden; }

/* Modal */
.modal-backdrop.show {
  display: none; }

.modal-open #content {
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -khtml-filter: blur(12px);
  -moz-filter: blur(12px);
  -ms-filter: blur(12px);
  -o-filter: blur(12px); }
  .modal-open #content:after {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    visibility: visible; }

[data-toggle="modal"] {
  cursor: pointer; }

[data-dismiss="modal"] {
  position: absolute;
  right: -4px;
  font-size: 24px;
  top: -12px;
  cursor: pointer;
  z-index: 1; }

.modal-content {
  background-color: #F7F7F7;
  border-color: #914EF9;
  border-radius: 4px; }

.modal-title {
  font-size: 24px;
  font-weight: bold;
  padding: 0 25px 12px;
  border-bottom: 1px solid #914EF9;
  text-align: center;
  text-transform: uppercase; }

.modal-video .modal-content {
  border: none;
  background-color: transparent; }

.modal-video .modal-body {
  padding: 0; }

.modal-video iframe {
  max-width: 100%;
  max-height: 100%; }

/* For screen min width 567px */
@media screen and (min-width: 567px) {
  .alt-box {
    margin-left: calc((100vw - 510px) / (-2));
    margin-right: calc((100vw - 510px) / (-2));
    padding-left: calc((100vw - 510px) / (2));
    padding-right: calc((100vw - 510px) / (2)); } }

/* For screen min width 768px */
@media screen and (min-width: 768px) {
  .banner {
    max-height: 620px;
    height: calc(100vh - 130px - 158px); }
    .banner iframe {
      max-height: inherit; }
  .modal-dialog {
    max-width: 750px; }
  .section-dashboard {
    margin: 100px 0 0; }
  .alt-box {
    margin-left: calc((100vw - 690px) / (-2));
    margin-right: calc((100vw - 690px) / (-2));
    padding-left: calc((100vw - 690px) / (2));
    padding-right: calc((100vw - 690px) / (2)); }
  .section-profile .nav {
    margin-left: 16px; }
  .section-profile .nav-link.active {
    transform: translateX(-16px);
    -webkit-transform: translateX(-16px);
    -khtml-transform: translateX(-16px);
    -moz-transform: translateX(-16px);
    -ms-transform: translateX(-16px);
    -o-transform: translateX(-16px);
    width: calc(100% + 16px); }
  .withdraw-content .title {
    margin: 24px 0 44px; }
  .view-statement {
    padding: 0 28px 0 15px; }
  #logo {
    text-align: left; } }

/* For screen min width 992px */
@media screen and (min-width: 992px) {
  .alt-box {
    margin-left: calc((100vw - 930px) / (-2));
    margin-right: calc((100vw - 930px) / (-2));
    padding-left: calc((100vw - 930px) / (2));
    padding-right: calc((100vw - 930px) / (2)); }
  .tab-content {
    padding: 25px 65px; }
  .modal-body {
    padding: 20px 97px 48px; }
  [data-dismiss="modal"] {
    right: -24px;
    top: -28px; }
  #logo {
    text-align: center; } }

/* For screen min width 1200px */
@media screen and (min-width: 1200px) {
  .modal-dialog {
    margin: 252px auto 30px; }
  .alt-box {
    margin-left: calc((100vw - 1110px) / (-2));
    margin-right: calc((100vw - 1110px) / (-2));
    padding-left: calc((100vw - 1110px) / (2));
    padding-right: calc((100vw - 1110px) / (2)); }
  .nav-inner h1 {
    font-size: 28px; } }

@media screen and (max-height: 800px) {
  .section-dashboard {
    margin-top: 50px; }
  .payment-button {
    margin-bottom: 70px; } }

@media screen and (min-height: 700px) {
  .banner iframe {
    max-height: calc(100vh - 130px - 158px - 180px); } }

@media screen and (max-width: 991px) {
  .md-pr-5 {
    padding-right: 150px; } }

@media screen and (max-width: 767px) {
  .md-pr-5 {
    padding-right: 80px; }
  .menu-user > a > span {
    display: none; }
  .nav-inner h1 {
    font-size: 18px; }
  .nav-inner .menu-user {
    right: 10px; }
    .nav-inner .menu-user .dgt-button i {
      margin-right: 0; }
  .nav-inner .price {
    left: 10px; }
    .nav-inner .price span {
      min-width: 60px;
      font-size: 18px; }
  .button-arrow {
    font-size: 24px;
    height: 50px;
    min-width: 160px; }
    .button-arrow:after {
      bottom: 0; }
  .coupon-code .form-control {
    max-width: 100%; }
  .payment .title {
    font-size: 16px;
    padding: 0 10px; }
  .payment-button .dgt-button {
    width: 300px; }
  .header-right {
    position: relative;
    transform: none;
    -webkit-transform: none;
    -khtml-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    top: inherit;
    right: inherit;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .profile-info label {
    min-width: inherit;
    margin-right: 15px; }
  .view-statement .item {
    width: 550px;
    overflow-x: auto; } }
