/**
 * Base Rules
 */
@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap');

html, body {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
}

h1 {
  font-size: $baseFontSize + 34;
}

.text-xlarge {
  font-size: $fontXlarge;
}

.text-large {
  font-size: $fontLarge;
}

.text-medium {
  font-size: $fontMedium;
}

.border-bottom{
  border-bottom: 1px solid rgba(116, 122, 138, 0.4);
}

.link {
  color: $accent;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

* {
  outline: none;
}

/* General Class */
a {
  color: $link;

  &:hover {
    color: $linkHover;
    text-decoration: none;
  }

  &:focus {
    color: $linkHover;
    text-decoration: none;
  }
}

label {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.color-white {
  color: $whiteColor !important;
}

.color-accent {
  color: $accent !important;
}

.bg-accent {
  background-color: $accent !important;
}

.color-blue {
  color: $blueColor !important;
}

.color-black {
  color: $blackColor !important;
}

.color-red {
  color: $redColor !important;
}

.color-yellow {
  color: $yellowColor !important;
}

.bg-blue {
  background-color: $blueColor !important;
}

.color-orange {
  color: $orangeColor !important;
}

.bg-orange {
  background-color: $orangeColor !important;
}

.bg-white {
  background-color: $whiteColor !important;
}

.color-gray {
  color: $grayColor !important;
}

/* Transition General */
a,
.menu-user .sub-menu {
  @include css3-compatible("transition", all 0.3s linear 0s);
}

/* Button general */
.dgt-button {
  padding: 0 15px;
  display: inline-flex;
  color: $buttonColor;
  background-color: $buttonBg;
  text-align: center;
  @include border-radius(4px, 4px, 4px, 4px);
  font-size: $baseFontSize + 4;
  margin: 0;
  position: relative;
  outline: none;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-transform: uppercase;
  outline: none;
  i {
    margin-right: 8px;
    font-size: 20px;
  }

  &:hover {
    color: $whiteColor;
    text-decoration: none;
    outline: none;
  }
}

.button-white {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  height: 40px;
  font-size: 16px;
}

.button-light {
  border: 1px solid $accent;
  background-color: #F7F7F7;
  font-size: 24px;
  color: $accent;
  border-radius: 32px;
  &:hover{
    color: $accent;
  }

  &:after {
    border: 1px solid $accent;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    content: "";
    position: absolute;
    border-radius: 32px;
  }

  i {
    position: absolute;
    right: 28px;
    top: 50%;
    @include css3-compatible("transform", translateY(-50%));
    margin: 0;
  }
}

.button-gray {
  background: rgb(229, 229, 229);
  background: linear-gradient(0deg, rgba(229, 229, 229, 1) 0%, rgba(242, 242, 242, 0.98) 100%);
  border: 1px solid #747A8A;
  color: #000000;
  font-size: 18px;
  text-transform: none;

  &:hover {
    color: #000;
  }
}

.button-alt{
  border: 1px solid #C3C5CC;
  background-color: #FFFFFF;
  color: #000;
}

.button-large {
  min-width: 260px;
}

.button-small{
  text-transform: none;
  font-size: 16px;
  height: 32px;
  padding: 0 24px;
}

.button-arrow {
  min-width: 224px;
  font-size: 32px;
  color: #fff;
  height: 68px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);

  &:after {
    content: "";
    background: url("../../images/deco.png") no-repeat center center;
    display: block;
    height: 12px;
    margin: 2px 0 0;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px;
  }
}

/* Title */
.dgt-title {
  font-size: $baseFontSize + 18;
  line-height: $baseLineHeight + 18;
  color: $titleColor;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center;
}

/* Content */
#content {
  padding: 45px 0;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include opacity(0);
    visibility: hidden;
  }
}

/* Modal */
.modal-backdrop {
  &.show {
    display: none;
  }
}

.modal-open {
  #content {
    @include css3-compatible("filter", blur(12px));

    &:after {
      @include opacity(1);
      visibility: visible;
    }
  }
}

[data-toggle="modal"] {
  cursor: pointer;
}
[data-dismiss="modal"] {
  position: absolute;
  right: -24px;
  font-size: 24px;
  top: -28px;
  cursor: pointer;
}

.modal-content{
  background-color: #F7F7F7;
  border-color: $accent;
  border-radius: 4px;
}

.modal-body{
  padding: 20px 97px 48px;
}
.modal-title{
  font-size: 24px;
  font-weight: bold;
  padding: 0 25px 12px;
  border-bottom: 1px solid $accent;
  text-align: center;
  text-transform: uppercase;
}

.modal-video{
  .modal-content{
    border: none;
    background-color: transparent;
  }
  .modal-body{
    padding: 0;
  }
  iframe{
    max-width: 100%;
    max-height: 100%;
  }
}
