<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <title>PassIt</title>
    <!-- Link style -->
    <!-- General -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- For this page -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../assets/stylesheets/css/styles.css">
</head>
<body>
<div class="dgt-wrapper">
    <div class="dgt-page">
        <!-- Header -->
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="logo">
                            <a href="#"><img src="../assets/images/logoPassit.png" alt="PassIt" /></a>
                        </div>
                        <!-- Language Switcher -->
                        <div class="nav-item dropdown language show">
                            <a href="#" id="navbarDropdownLanguageLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="nav-link dropdown-toggle">
                                Language(EN)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header -->
        <!-- Nav -->
        <div id="nav">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="nav-inner">
                            <h1>Change your password</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Nav -->
        <!-- Content -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section">
                            <div class="section-user">
                                <div class="row">
                                    <!-- Register -->
                                    <div class="col-12 col-lg-8 offset-lg-2">
                                        <h3 class="title">Change password</h3>
                                        <form id="formRegister">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <div class="form-group">
                                                        <label>Recent password</label>
                                                        <input type="password" class="form-control" name="old-password" placeholder="Password">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>New Password</label>
                                                        <input type="password" class="form-control" name="new-password" placeholder="New Password">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 d-flex align-items-end">
                                                    <div class="form-group flex-grow-1">
                                                        <label>Confirm Password</label>
                                                        <input type="password" class="form-control" name="re-password" placeholder="Confirm Password">
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex justify-content-center">
                                                    <button type="submit" class="dgt-button">Update password</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Content -->
    </div>
</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../assets/javascripts/function.js"></script>
</html>