<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <title>PassIt</title>
    <!-- Link style -->
    <!-- General -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- For this page -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../assets/stylesheets/css/styles.css">
</head>
<body>
<div class="dgt-wrapper">
    <div class="dgt-page">
        <!-- Header -->
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="logo">
                            <a href="#"><img src="../assets/images/logoPassit.png" alt="PassIt" /></a>
                        </div>
                        <!-- Language Switcher -->
                        <div class="nav-item dropdown language show">
                            <a href="#" id="navbarDropdownLanguageLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="nav-link dropdown-toggle">
                                Language(EN)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header -->
        <!-- Nav -->
        <div id="nav">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="nav-inner">
                            <h1>You are really close to starting to make money easily</h1>
                            <a class="dgt-button button-white" href="login.html"><i class="ion-android-person"></i><span>User12</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Nav -->
        <!-- Content -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section">
                            <div class="section-dashboard">
                                <div class="coupon-code">
                                    <label>If you received a Passit coupon code paste it here<br />
                                        and receive a one-time discount on your personal coupon code</label>
                                    <form id="couponCode" class="form-coupon">
                                        <div class="form-group"><input class="form-control" type="text" name="coupon" value="Pas69cou" placeholder="Coupon code" /></div>
                                    </form>
                                    <!-- Payment -->
                                    <div class="row">
                                        <div class="col-12 col-md-8 offset-md-2 payment-wrap">
                                            <div class="payment flex-grow-1">
                                                <div class="price">
                                                    <label>One-time payment:</label>
                                                    <span class="old">$40</span>
                                                </div>
                                                <span class="title color-accent">Congatulation! The coupon code earned you a disscount</span>
                                                <div class="price">
                                                    <label>One-time payment:</label>
                                                    <span>$40</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="payment-paypal d-flex flex-column">
                                                <h3 class="color-accent">Payment with</h3>
                                                <a href="#"><img src="../assets/images/pp.jpg" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Content -->
    </div>
</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../assets/javascripts/function.js"></script>
</html>