<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <title>PassIt</title>
    <!-- Link style -->
    <!-- General -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- For this page -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../assets/stylesheets/css/styles.css">
</head>
<body>
<div class="dgt-wrapper">
    <div class="dgt-page">
        <!-- Header -->
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="logo">
                            <a href="#"><img src="../assets/images/logoPassit.png" alt="PassIt" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header -->
        <!-- Nav -->
        <div id="nav">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="nav-inner">
                            <h1>MAKE MONEY EASY</h1>
                            <a class="dgt-button button-white" href="login.html"><i class="ion-android-person"></i><span>LOGIN</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Nav -->
        <!-- Banner -->
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-inner">
                            <h4>Watch a short Tutorial video</h4>
                            <iframe src="https://player.vimeo.com/video/102324139" width="777" height="437" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            <h3>And start making money (:</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Banner -->
        <!-- Content -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section">
                            <h3 class="dgt-title">Join Us</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Content -->
    </div>
</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../assets/javascripts/function.js"></script>
</html>