<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <title>PassIt</title>
    <!-- Link style -->
    <!-- General -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- For this page -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../assets/stylesheets/css/styles.css">
</head>
<body>
<div class="dgt-wrapper">
    <div class="dgt-page">
        <!-- Header -->
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="logo">
                            <a href="#"><img src="../assets/images/logoPassit.png" alt="PassIt"/></a>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <!-- Language Switcher -->
                            <div class="nav-item dropdown language show">
                                <a href="#" id="navbarDropdownLanguageLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="true" class="nav-link dropdown-toggle">
                                    Language(EN)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Header -->
        <!-- Nav -->
        <div id="nav">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="nav-inner">
                            <h1>Start Creat your account easy</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Nav -->
        <!-- Content -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section">
                            <div class="section-user">
                                <div class="row">
                                    <!-- Register -->
                                    <div class="col-12 col-lg-8">
                                        <h3 class="title">Register with Email</h3>
                                        <form id="formRegister">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <div class="form-group">
                                                        <label>Your Full Name</label>
                                                        <input type="text" class="form-control" name="full-name"
                                                               placeholder="Your Full Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        <input type="password" class="form-control" name="password"
                                                               placeholder="Password">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <input type="email" class="form-control" name="email"
                                                               placeholder="Your Email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Confirm Password</label>
                                                        <input type="password" class="form-control" name="re-password"
                                                               placeholder="Confirm Password">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="row align-items-center mt-3">
                                                        <div class="col-12 col-md-6">
                                                            <button type="submit" class="dgt-button mt-0 w-100">Login
                                                            </button>
                                                        </div>
                                                        <div class="col-12 col-md-6 mt-3 mt-md-0">
                                                            <p class="mb-0">Already a member <a class="link" href="login.html">Login</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /Register -->
                                    <!-- Separate -->
                                    <div class="col-12 col-lg-1 d-flex justify-content-center align-items-center">
                                        <div class="separate d-none d-lg-block">
                                            <img src="../assets/images/math.png"/>
                                        </div>
                                    </div>
                                    <!-- /Separate -->
                                    <!-- Login -->
                                    <div class="col-12 col-lg-3 d-flex justify-content-center align-items-center">
                                        <div class="login">
                                            <a href="#"><img src="../assets/images/gg.jpg"/></a>
                                            <a href="#"><img src="../assets/images/fb.jpg"/></a>
                                        </div>
                                    </div>
                                    <!-- /Login -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Content -->
    </div>
</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../assets/javascripts/function.js"></script>
</html>