@charset "utf-8";

@import "../common/base";
@import "../common/variables";
@import "../common/mixins";

.admin-page {
    &:not(.modal) {
        background-color: #F2F2F2;
    }
    .bg-shadow {
        background-color: #fff;
        @include css3-compatible("box-shadow", 0px 2px 4px 0px rgba(0, 0, 0, 0.1));
        border-radius: 8px;
    }
    #header {
        min-height: 83px;
        padding: 0 35px 0 60px;
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: #fff;
    }
    #logo {
        img {
            max-width: 100px;
        }
    }
    .menu-user {
        position: relative;
        right: inherit;
        top: inherit;
        margin-right: 8px;
    }
    .dgt-button {
        height: 40px;
        font-size: 16px;
    }
    .dropdown-toggle {
        &:after {
            vertical-align: 1px;
        }
    }
    .sidebar {
        max-width: 17%;
        flex: 0 0 218px;
        background-color: $accent;
        color: #fff;
        min-width: 218px;
        position: relative;
        .sidebar-content{
            position: fixed;
            width: 100%;
            max-width: 218px;
        }
    }
    #content {
        padding: 0;
    }
    .sidebar, .content-primary {
        min-height: calc(100vh - 83px);
        margin-top: 83px;
    }
    .content-primary{
        flex: calc(100% - 218px);
        max-width: calc(100% - 218px);
    }
    .admin-statement {
        background-color: #AC76FF;
        padding: 54px 16px 3px;
    }
    .statement-item {
        border-bottom: 1px solid #fff;
        padding: 9px 0;
        line-height: 1;
        font-size: 12px;
        &:last-child {
            border-bottom: none;
        }
        strong {
            font-size: 16px;
        }
        .total {
            font-size: 22px;
        }
    }
    .admin-menu {
        padding: 13px 0 0 32px;
        li {
            border-bottom: 1px solid #fff;
            display: block;
            padding: 10px 0;
            &.active {
                @include css3-compatible("transform", translateX(-13px));
                width: calc(100% + 13px);
                font-weight: bold;
            }
        }
        a {
            color: #fff;
            font-size: 16px;
            position: relative;
            .number {
                font-size: 10px;
                font-weight: bold;
                background-color: #FF0000;
                border: 1px solid #fff;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: -19px;
                top: -6px;
            }
        }
    }
    .content-inner {
        padding: 40px 25px 20px 25px;
    }
    .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .static-wrap {
        padding: 32px 68px;
        min-height: 235px;
        .logo {
            width: 128px;
            height: 128px;
            flex: 0 0 128px;
            border-radius: 50%;
            background-color: #F2F4F8;
            border: 2px solid rgba(116, 117, 138, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            margin-right: 96px;
            img {
                max-width: 100%;
            }
        }
        .avatar {
            padding: 0;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: stretch;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
    .static-item {
        border-bottom: 1px solid #c9cacf;
        color: #6E6E6E;
        margin: 0 0 18px;
        padding: 0 0 13px;
        &:last-child {
            border-bottom: none;
            margin: 0;
            padding: 0;
        }
        .number {
            color: $accent;
            font-size: 36px;
        }
    }
    .static-number {
        font-size: 14px;
        margin-right: 55px;
        min-width: 140px;
        .number{
            font-size: 30px;
        }
    }
    .static-table {
        padding: 0 16px 16px;
        .static-head{
            height: 52px;
        }
        .title {
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    .form-search {
        margin: 8px 185px 8px 0;
        border: 1px solid #747A8A;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        input {
            border: none;
            height: 34px;
            width: 240px;
        }
        button {
            background-color: transparent;
            border: none;
            padding: 0 12px;
            font-size: 22px;
            color: #999999;
        }
    }
    .table {
        border-top: 0;
        width: 100% !important;
        .thead-dark {
            th {
                background-color: #D0DBF2;
                border: none;
            }
        }
        thead {
            th, td {
                font-weight: bold;
                color: #000;
            }
        }
        .table-sort {
            line-height: 1;
            vertical-align: -2px;
            i {
                font-size: 22px;
            }
        }
        td, th{
            font-size: 14px;
        }
    }
    .tab-content {
        padding: 24px 0 0;
        border: none;
        background-color: transparent;
        min-height: inherit;
        max-height: inherit;
        position: relative;
        &:before {
            width: calc(100% + 32px);
            top: 0;
            left: -16px;
            background-color: #dee2e6;
            content: "";
            position: absolute;
            height: 1px;
        }
    }
    .nav-tabs {
        border: none;
        margin: 0 0 0 -16px;
        .nav-link {
            font-weight: bold;
            height: 52px;
            padding: 0 15px;
            display: flex;
            align-items: center;
            border-radius: 8px 8px 0 0;
            border: none;
            font-size: 14px;
            &.active {
                background-color: $accent;
                color: #fff;
            }
        }
    }
    .modal-content {
        background-color: transparent;
        border: none;
    }
    .modal-body {
        padding: 0;
    }
    .modal-footer {
        border: none;
        margin-top: 8px;
    }
    .icon-large {
        color: #75B3E0;
        font-size: 30px;
        line-height: 1;
    }
    .form-wrap, .modal-footer {
        .dgt-button {
            height: 36px;
            text-transform: capitalize;
            font-weight: bold;
            width: 220px;
        }
    }
    .form-head {
        .title {
            font-size: 16px;
            border-bottom: 1px solid #c9cacf;
            line-height: 52px;
            padding-left: 48px;
        }
    }
    .form-content {
        padding: 0 68px;
    }
    .large-gutters {
        margin-right: -32px;
        margin-left: -32px;

        > .col,
        > [class*="col-"] {
            padding-right: 32px;
            padding-left: 32px;
        }
    }
    .form-control, .input-group-text {
        height: 36px;
        background-color: transparent;
        border-color: #747A8A;
    }
    .form-control {
        &:focus {
            box-shadow: none;
            z-index: 0;
        }
    }
    .input-group-text {
        border-right: none;
        background-color: #fff;
        font-size: 20px;
        z-index: 1;
        color: #000;
        padding: 0 14px;
    }
    .input-group{
        > .form-control{
            padding-left: 0;
        }
    }
    .form-group {
        margin-bottom: 32px;
    }
    textarea {
        min-height: 138px;
        resize: none;
    }
    .dataTable{
        width: 100% !important;
    }
    .dataTables_filter {
        position: absolute;
        right: 100px;
        top: -43px;
        input[type="search"] {
            border: 1px solid #dee2e6;
            height: 36px;
            border-radius: 4px;
            padding: 0 10px;
            width: 230px;
        }
    }
    .tab-content{
        .dataTables_filter{
            top: -67px;
        }
    }
    .dataTables_wrapper{
        position: relative;
        .dataTables_paginate{
            .paginate_button{
                &.current, &.current:active{
                    color: #000 !important;
                    border: 1px solid #979797;
                    background: #D0DBF2 !important;
                    border-color: #D0DBF2 !important;
                }
                &:hover{
                    border-color: #D0DBF2 !important;
                    background: #D0DBF2 !important;
                }
            }
            .paginate_button, .ellipsis{
                color: #000 !important;
                border-right: 1px solid #c8ced3 !important;
            }
        }
    }

    div.dataTables_paginate {
        margin-top: -34px;
    }

    table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
        font-size: 1em;
    }
    .note-editor {
        width: 100%;
    }
    .note-editor .btn-group button:first-child,
    .note-editor .btn-group button,
    .note-editor .btn-group button:last-child {
        width: inherit;
        flex: inherit;
        height: inherit;
        margin-right: inherit;
        background-color: inherit;
        border-color: inherit;
        font-size: 16px;
        border-radius: 4px !important;
    }
    .note-popover .popover-content .note-color .dropdown-toggle, .card-header.note-toolbar .note-color .dropdown-toggle {
        width: auto !important;
    }
}
.panel-coupon{
    max-width: 195px;
    label{
        font-size: 16px;
        color: #6E6E6E;
        font-weight: bold;
    }
    input{
        border: 1px solid #747A8A;
        padding: 0 10px;
        text-align: center;
        border-radius: 4px;
        height: 36px;
    }
    .dgt-button{
        height: 36px;
        text-transform: capitalize;
        font-weight: bold;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .modal-custom {
        .modal-dialog {
            max-width: 1140px;
            margin: 184px auto 30px;
        }
    }
}

@media screen and (min-width: 1400px) {
    .admin-page{
        .content-inner {
            padding: 50px 35px 30px 45px;
        }
        .static-number{
            font-size: 16px;
            .number{
                font-size: 36px;
            }
        }
        .statement-item{
            font-size: 16px;
            strong {
                font-size: 18px;
            }
            .total{
                font-size: 24px;
            }
        }
        .admin-menu {
            a{
                font-size: 18px;
            }
        }
        .sidebar{
            min-width: 280px;
            flex: 0 0 280px;
            .sidebar-content{
                max-width: 280px;
            }
        }
        .content-primary{
            flex: calc(100% - 280px);
            max-width: calc(100% - 280px);
        }
        .nav-tabs {
            .nav-link{
                font-size: 16px;
                padding: 0 20px;
            }
        }
    }
}
@media screen and (min-width: 1600px) {
    .admin-page {
        .nav-tabs {
            .nav-link{
                padding: 0 30px;
            }
        }
        .table{
            th, td{
                font-size: 16px;
            }
        }
    }
}